<html>
	<HEAD>
		<title>Online Store</title>
		<meta name="viewport" content="width=device-width, scale=1.0" />
		<!--<link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet' />-->
		 <link href="bootstrap.min.css" rel="stylesheet" />
	</HEAD>
	<body>
	<div class="container">
	    <div class="jumbotron">
	    	<h1>Hello!</h1>
	    	<p> Welcome to my online store application, ready to get started?</p>
	    	<div>
	    		<a href="/login"><input type="button" class="btn btn-primary" value="Login now" /></a>
	    	</div>
             <br/>
            <p> Don't have an account?
            <a href="/register"> Register now</a></p>
            
           
	    </div>
        <div class="row">
        	<div class="col-md-4">
        	<h2>About Store Application</h2>
        		<p>
	    	Online store apllication enable you to create a store online.
	    	It allows users to sign up and login to use the application, where users can create a store. It also allows store owners to add goods to the store created

	    	   
	    </p>
        	</div>
        </div>
	    
		
	</div>
	
	</body>
</html>